language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    # - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-27
    

  licenses:
    - android-sdk-license.*
    - android-sdk-preview-license-.+
    - google-gdk-license-.+

  before_install:
    - yes | sdkmanager "platforms;android-27"
    
 
